<a href="https://colab.research.google.com/github/mmnidryl-maker/tugas-pak-prayit/blob/main/praktikum_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
koordinat = (7.05, 110.44)
print("lintang:", koordinat[0])
print("bujur:", koordinat[1])

lintang: 7.05
bujur: 110.44

In [5]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM :", mahasiswa["NIM"])
print("Nama :", mahasiswa["Nama"])
print("Prodi :", mahasiswa["Prodi"])

NIM : 20251001
Nama : Andi
Prodi : TRK

In [12]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

In [15]:
a = {1, 2, 3, 4,}
b = {3, 4, 5, 6,}

print("union:", a | b)
print("intersection:", a & b)
print("difference:", a - b)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}

In [16]:
mhs1 = {"algoritma", "matematika", "bahasa indonesia"}
mhs2 = {"algoritma", "basis data", "matematika"}

print("Mata kuliah mhs1:", mhs1)
print("Mata kuliah mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah mhs1: {'matematika', 'bahasa indonesia', 'algoritma'}
Mata kuliah mhs2: {'matematika', 'basis data', 'algoritma'}
Mata kuliah yang sama: {'matematika', 'algoritma'}

In [20]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

penugasan 3 tuple sederhana

In [22]:
data = ["adni", 20, "TRK"]
print(f"nama: {data[0]}")
print(f"umur: {data[1]}")
print(f"prodi: {data[2]}")

nama: adni
umur: 20
prodi: TRK

penugasan 4 tuple tidak bisa diubah

In [36]:
data = (1, 2, 3)
data[1] = 10
data[2] = 4
del data[0]

4

penugasan 5 dictionary dasar

In [25]:
buku = {
    "judul": "algoritma",
    "penulis": "munir",
    "tahun": 2021
}
print("judul : ", buku["judul"])
print("penulis : ", buku["penulis"])
print("tahun : ", buku["tahun"])

judul :  algoritma
penulis :  munir
tahun :  2021

penugasan 6 operasi dictionary

In [43]:
data_dosen = {
    "NIP" : "12345",
    "Nama" : "Budi",
    "Prodi" : "TRK"
}
data_dosen["Umur"] = 40
data_dosen["Prodi"] = "Teknik Komputer"
del data_dosen["Umur"]
print(data_dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

penugasan 7 set dan himpunan

In [48]:
a = {"matematika", "algoritma", "bahasa inggris"}
b = {"algoritma", "basis data", "matematika"}

print("union :", a | b)
print("intersection :", a & b)
print("difference 1 (a terhadap b) :", a - b)
print("difference 2 (b terhadap a) :", b - a)

union : {'bahasa inggris', 'basis data', 'matematika', 'algoritma'}
intersection : {'matematika', 'algoritma'}
difference 1 (a terhadap b) : {'bahasa inggris'}
difference 2 (b terhadap a) : {'basis data'}

penugasan 8 studi kasus dictionary

In [56]:
nilai_mahasiswa = {
    "Andi" : 85,
    "Budi" : 90,
    "Cici" : 78
}
for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama} : {nilai}")

  rata_rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"nilai rata-rata ketiga mahasiswa = {rata_rata:.2f}")

Andi : 85
Budi : 90
Cici : 78
nilai rata-rata ketiga mahasiswa = 84.33

peneugasan 9 studi kasus set-klub mahasiswa

In [57]:
a = {"andi", "budi", "cici"}
b = {"cici", "deni", "eka"}

print("daftar seluruh anggota :", a | b)
print("daftar anggota yang mengikuti kedua club :", a & b)
print("daftar anggota yang mengikuti klub a tapi tidak mengikuti klub b :", a - b)

daftar seluruh anggota : {'andi', 'deni', 'eka', 'budi', 'cici'}
daftar anggota yang mengikuti kedua club : {'cici'}
daftar anggota yang mengikuti klub a tapi tidak mengikuti klub b : {'andi', 'budi'}