<a href="https://colab.research.google.com/github/mmnidryl-maker/tugas-pak-prayit/blob/main/praktikum%209.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01 - Menggunakan Modul Math

In [ ]:
import math

angka = 16
hasil1 = math.sqrt(angka)
hasil2 = math.pow(2, 5)
print ("Akar kuadrat dari", angka, "=", hasil1)
print ("2 pangkat 5 =", hasil2)

Akar kuadrat dari 16 = 4.0
2 pangkat 5 = 32.0

# Praktikum 02 - menggunakan from... import...

In [ ]:
from math import sqrt

angka = 25
hasil = sqrt(angka)
print ("Akar kuadrat dari", angka,"=", hasil)

Akar kuadrat dari 25 = 5.0

# Praktikum 03 - memberi Alias Modul

In [ ]:
import numpy as np

data = np.array([1, 2, 3])
print("Isi array =", data)

Isi array = [1 2 3]

# Praktikum 04 - Eksplorasi math, random, dan sys

In [ ]:
import math
import random
import sys

hasil1 = math.sqrt(81)
hasil2 = random.randint(1, 10)
versi = sys.version

print("Akar kuadrat 81 =", hasil1)
print("Angka acak 1-10 =", hasil2)
print("Versi Python =", versi)

Akar kuadrat 81 = 9.0
Angka acak 1-10 = 8
Versi Python = 3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

# Praktikum 05 - Membuat modul Sendiri

In [3]:
%%writefile modulku.py
def halo(nama):
  print(f"Halo, {nama}! Selamat belajar Python di Polines.")

Writing modulku.py

In [4]:
import modulku

modulku.halo("Mahasiswa Polines")

Halo, Mahasiswa Polines! Selamat belajar Python di Polines.

 Instalasi Modul dengan pip

In [1]:
!pip install requests
import requests

response = requests.get("https://www.polines.ac.id")
print("Status code:", response.status_code)

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.11.12)
Status code: 403

Eksperimen dengan Modul math

In [2]:
import math

r1 = 7
r2 = 10

hasil1 = math.pi * (r1 ** 2)
hasil2 = math.pi * (r2 ** 2)

print (f"Luas lingkaran dengan jari-jari {r1} = {hasil1:.2f}")
print (f"Luas lingkaran dengan jari-jari {r2} = {hasil2:.2f}")

Luas lingkaran dengan jari-jari 7 = 153.94
Luas lingkaran dengan jari-jari 10 = 314.16

Eksperimen dengan Modul random

In [ ]:
import random

print("Angka acak 1-100 :")

for i in range (5):
  acak = random.randint(1, 100)
  print(f"angka ke-{i+1} =", acak)

Angka acak 1-100 :
angka ke-1 = 85
angka ke-2 = 87
angka ke-3 = 43
angka ke-4 = 25
angka ke-5 = 12

 Modul sys

In [ ]:
import sys

versi = sys.version
platform = sys.platform

print("Platform =", platform)
print("Versi Python =", versi)

Platform = linux
Versi Python = 3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

 Modul buatan sendiri

In [ ]:
%%writefile konversi.py
def celcius_ke_fahrenheit(c):
    return (c * 9/5) + 32

def fahrenheit_ke_celcius(f):
    return (f - 32) * 5/9

Writing konversi.py

In [ ]:
import konversi

suhu_c = 30
hasil_f = konversi.celcius_ke_fahrenheit(suhu_c)
print(f"{suhu_c} Celcius = {hasil_f} Fahrenheit")

suhu_f = 100
hasil_c = konversi.fahrenheit_ke_celcius(suhu_f)
print(f"{suhu_f} Fahrenheit = {hasil_c:.2f} Celcius")

30 Celcius = 86.0 Fahrenheit
100 Fahrenheit = 37.78 Celcius

Instalasi Library Pihak Ketiga

In [5]:
!pip install pandas
import pandas

data = {
    "NIM": ["4.33.25.1.07"],
    "Nama": ["Darryll Marchiand Muchammad Nauval Iwania"],
    "Prodi": ["Teknologi Rekayasa Kompter"]
}

df = pandas.DataFrame(data)

print("--- Data Mahasiswa ---")
display(df)

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
--- Data Mahasiswa ---

,NIM,Nama,Prodi
0,4.33.25.1.07,Darryll Marchiand Muchammad Nauval Iwania,Teknologi Rekayasa Kompter

Studi Kasus Mini

In [6]:
%%writefile laporan.py

def tampilkan_hasil(benar, jumlah_soal):
    nilai = (benar / jumlah_soal) * 100

    print("\n--- HASIL KUIS ---")
    print(f"Skor Anda: {nilai:.2f}%")

Writing laporan.py

In [7]:
import random
import laporan

jumlah_soal = 3
skor = 0

for i in range(jumlah_soal):
    angka1 = random.randint(1, 10)
    angka2 = random.randint(1, 10)
    soal = f"{angka1} + {angka2} = "
    jawaban = int(input(soal))

    if jawaban == angka1 + angka2:
        print("Jawaban Anda Benar!")
        skor += 1

    else:
      print("Jawaban Anda Salah!")

laporan.tampilkan_hasil(skor, jumlah_soal)

4 + 8 = 12
Jawaban Anda Benar!
7 + 10 = 111
Jawaban Anda Salah!
9 + 3 = 12
Jawaban Anda Benar!

--- HASIL KUIS ---
Skor Anda: 66.67%