<a href="https://colab.research.google.com/github/mmnidryl-maker/tugas-pak-prayit/blob/main/praktikum_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Integer
umur = 18
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 164
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Darryll"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Darryll", "umur": 18, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"futsal", "olahraga", "membaca"}
print("Hobi:", hobi, "→", type(hobi))

Umur: 18 → <class 'int'>
Tinggi: 164 → <class 'int'>
Nama: Darryll → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Darryll', 'umur': 18, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'olahraga', 'futsal', 'membaca'} → <class 'set'>

Praktikum 02 – Input dan Output Dasar

In [ ]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur,
tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: darryll
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 164
Halo, darryll umur Anda: 18 tahun, tinggi: 164.0 cm
Halo darryll, umur Anda 18 tahun, tinggi 164.0 cm
Halo darryll, umur Anda 18 tahun, tinggi 164.0 cm

Praktikum 03 – Operator Aritmatika

In [ ]:
a=15
b=4

print("a+b =", a+b)
print("a-b =", a-b)
print("a/b =", a/b)
print("a//b =", a//b)
print("a%b =", a%b)
print("a**b =", a**b)

a+b = 19
a-b = 11
a/b = 3.75
a//b = 3
a%b = 3
a**b = 50625

Praktikum 04 – Operator Relasional

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

Praktikum 05 – Operator Logika dengan Studi Kasus Nyata

In [ ]:
#operator logika dasar
a = True
b = False
print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

#studi kasus nyata: kalulusan
nilai = int(input("masukan nilai anda: "))
hadir = int(input("masukan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("status : lulus")
else:
  print("status : tidak lulus")

a and b = False
a or b = True
not a = False
masukan nilai anda: 70
masukan jumlah kehadiran: 13
status : lulus

Praktikum 06 – Program Kasir Sederhana

In [ ]:
barang = input ("masukan nama barang: ")
harga = float(input("masukan harga barang: "))
jumlah = int(input("masukan jumlah barang: "))

total = harga * jumlah

#aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else :
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== struk belanja =====")
print(f"barang : {barang}")
print(f"jumlah : {jumlah}")
print(f"total : {total}")
print(f"diskon : {diskon * 100}%")
print(f"bayar : Rp {bayar}")

masukan nama barang: sosis
masukan harga barang: 30000
masukan jumlah barang: 15

===== struk belanja =====
barang : sosis
jumlah : 15
total : 450000.0
diskon : 10.0%
bayar : Rp 405000.0

identitas mahasisgma

In [ ]:
nama = "Darryll"
umur = 18
tinggi = 164.0
status_aktif = True

print(f"nama: {nama}")
print(f"umur: {umur}")
print(f"tinggi: {tinggi}")
print(f"status aktif: {status_aktif}")

nama: Darryll
umur: 18
tinggi: 164.0
status aktif: True

operasi aritmatika

In [ ]:
a = int(input("masukan nilai pertama ="))
b = int(input("masukan nilai kedua ="))

print("a+b =", a+b)
print("a-b =", a-b)
print("a*b =", a*b)
print("a/b =", a/b)
print("a%b =", a%b)
print("a**b =", a**b)

masukan nilai pertama9
masukan nilai kedua9
a+b = 18
a-b = 0
a*b = 81
a/b = 1.0
a%b = 0
a**b = 387420489

konversi nilai

In [ ]:
a = float(input("masukan angka ="))
print(int(a))
print(str(a))
print(round(a))

masukan angka =12.7777777
12
12.7777777
13

operator relasional

In [ ]:
a = str(input("masukan nilai pertama ="))
b = str(input("masukan nilai kedua ="))

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

masukan nilai pertama =12
masukan nilai kedua =23
False
True
False
True
True
False