<a href="https://colab.research.google.com/github/mmnidryl-maker/tugas-pak-prayit/blob/main/praktikum_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mahasiswa = ["andi", "budi", "cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

andi
budi
cici

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai [0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

In [ ]:
a = [[1, 2, 3], [4, 5, 6]]
b = [[7, 8, 9], [10, 11, 12]]
c = []

for i in range(len(a)):
  baris = []
  for j in range(len(a[0])):
    baris.append(a[i][j] + b[i][j])
  c.append(baris)
print(c)

[[8, 10, 12], [14, 16, 18]]

In [1]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f'rata-rata mahasiswa {i}: {rata:.2f}')

rata-rata mahasiswa 1: 85.00
rata-rata mahasiswa 2: 75.00
rata-rata mahasiswa 3: 88.00

penugasan 3 akses elemen list

In [2]:
mahasiswa = ["dio", "arjun", "rasha", "irfan", "hamam",]
print(mahasiswa[0])
print(mahasiswa[-1])
print(mahasiswa[1])

dio
hamam
arjun

penugasan 4 operasi dasar list

In [3]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

penugasan 5 slicing list

In [18]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(angka[0:3])
print(angka[6:])
print(angka[1::2])

[1, 2, 3]
[7, 8, 9, 10]
[2, 4, 6, 8, 10]

penugasan 6 list 2d-matriks

In [19]:
a = [
    [1, 2, 3],
    [4, 5, 6]
]
print(a[0][1])
print(a[1][2])
print(a[0])

2
6
[1, 2, 3]

penugasan 7 operasi matriks 2D

In [22]:
a = [
    [1, 3],
    [4, 6]
]
b = [
    [7, 9],
    [10, 12]
]
c = []
for i in range(len(a)):
  baris = []
  for j in range(len(a[0])):
    baris.append(a[i][j] + b[i][j])
  c.append(baris)
print(c)

[[8, 12], [14, 18]]

penugasan 8 rata-rata nilai mahasiswa

In [24]:
nilai = [[75, 80, 85], [60, 70, 65], [90, 95, 92]]
for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"rata-rata mahasiswa {i} : {rata:.2f}")

rata-rata mahasiswa 1 : 80.00
rata-rata mahasiswa 2 : 65.00
rata-rata mahasiswa 3 : 92.33

penugasan 9 studi kasus-data toko

In [54]:
stok = [["buku", 20], ["pulpen", 35], ["penghapus", 15]]
stok_terbanyak = 0
barang_terbanyak =""
for item in stok:
  nama_barang = item[0]
  jumlah_barang = item[1]
  print(f"nama barang {nama_barang}, jumlah barang {jumlah_barang}")
  if jumlah_barang > stok_terbanyak:
    stok_terbanyak = jumlah_barang
    barang_terbanyak = nama_barang
print("\n----barang dengan jumlah stok terbanyak----")
print(f"nama barang : {barang_terbanyak}, stok terbanyak : {stok_terbanyak}")

nama barang buku, jumlah barang 20
nama barang pulpen, jumlah barang 35
nama barang penghapus, jumlah barang 15

----barang dengan jumlah stok terbanyak----
nama barang : pulpen, stok terbanyak : 35