<a href="https://colab.research.google.com/github/mmnidryl-maker/tugas-pak-prayit/blob/main/praktikum_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4
5

In [85]:
n = int(input("masukan angka: "))
while n > 0:
  print(n)
  n -= 1

masukan angka: 5
5
4
3
2
1

In [ ]:
i = int
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

In [29]:
for i in range(1, 11):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

In [53]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4

In [81]:
data = {"Nama": "andi", "umur": 20, "Prodi": "TRK"}
for k, v in data.items():
  print(k, ":", v)

Nama : andi
umur : 20
Prodi : TRK

In [82]:
daftar = ["andi", "budi", "cici"]
for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 andi
2 budi
3 cici

In [83]:
total = 0
while True:
  barang = input("masukan nama barang (ketik selesai untuk keluar): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"masukan harga {barang} : "))
  jumlah = int(input(f"masukan jumlah {barang} : "))
  subtotal = harga * jumlah
  total += subtotal
print("\n===== Struk Belanja =====")
print(f"total belanja: {total}")

masukan nama barang (ketik selesai untuk keluar): BUKU
masukan harga BUKU : 50000
masukan jumlah BUKU : 2
masukan nama barang (ketik selesai untuk keluar): PULPEN
masukan harga PULPEN : 5000
masukan jumlah PULPEN : 3
masukan nama barang (ketik selesai untuk keluar): SELESAI

===== Struk Belanja =====
total belanja: 115000.0

penugasan 3
menampilkan deret angka

In [2]:
for i in range(3, 33, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

penugasan 4 hitung faktorial

In [74]:
n = int(input("Masukkan bilangan (0 atau lebih besar): "))

faktorial = 1
i = n

while i > 0:
    faktorial = faktorial * i
    i = i - 1

print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan (0 atau lebih besar): 5
Faktorial dari 5 adalah 120

penugasan 5 pola segitiga terbalik

In [27]:
n = 5
for i in range(n, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

penugasan 6 cari bilangan prima dengan break

In [72]:
angka = int(input("Masukkan sebuah bilangan bulat: "))
if angka <= 1:
    print(angka, "bukan bilangan prima")
else:
    for i in range(2, angka):
        if (angka % i) == 0:
            print(angka, "bukan bilangan prima")
            break
    else:
        print(angka, "adalah bilangan prima")

Masukkan sebuah bilangan bulat: 1
1 bukan bilangan prima

penugasan 7 tampilkan hanya bilangan genap dengan continue

In [76]:
for i in range(1, 22):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

penugasan 8 iterasi dictionary mahasiswa

In [77]:
data = {"Nama": "budi", "Umur": 21, "Prodi": "teknik komputer"}
for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

penugasan 9 enumerate daftar barang

In [79]:
daftar = ["buku", "pulpen", "tas"]
for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 buku
2 pulpen
3 tas

penugasan 10 studi kasus-kasir diskon

In [80]:
total = 0
while True:
  barang = input("masukan nama barang (ketik selesai untuk keluar): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"masukan harga {barang} : "))
  jumlah = int(input(f"masukan jumlah {barang} : "))
  subtotal = harga * jumlah
  total += subtotal
print("\n===== Struk Belanja =====")
print(f"total belanja: {total}")

masukan nama barang (ketik selesai untuk keluar): upi;
masukan harga upi; : 90000
masukan jumlah upi; : 20
masukan nama barang (ketik selesai untuk keluar): eskrim
masukan harga eskrim : 3000
masukan jumlah eskrim : 70
masukan nama barang (ketik selesai untuk keluar): mochi
masukan harga mochi : 50000
masukan jumlah mochi : 9
masukan nama barang (ketik selesai untuk keluar): selesai

===== Struk Belanja =====
total belanja: 2460000.0